#columns {
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

span#columns figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity 0.4s ease-in-out;
  column-break-inside: avoid;
  display: inline-table;
}
span#columns figure img {
  width: auto;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

span#columns:hover figure:not(:hover) {
  opacity: 0.4;
}

// @media screen and (max-width: 750px) {
//   #columns {
//     column-gap: 0px;
//   }
//   #columns figure {
//     width: 100%;
//   }
// }

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  // width: 50%;
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
  display: -ms-inline-grid;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f0ffff;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
